:root {
    --light: #ffffff;
    --dark: #000;
    --grey: #818181;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: var(--dark);
    font-family: 'Project Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
    margin-bottom: 2%;
   }

.header h1 {
    float: left;
    line-height: 40px;
    padding-right: 3px;
    font-size: 2rem;
}

.photo {
    width: 20%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header nav {
    float: right;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    line-height: 40px;
    font-size: 1rem;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

a {
    color: var(--light);
    text-decoration: none;
}


nav a:hover {
    color: var(--grey);
}

.image {
    display: flex;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 200%;
}

.segments {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.tile {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tiles {
    width: 49%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.images {
    padding: 1%;
    width: 50%;
    max-width: 50%;
}

.images img{
    width:100%;
}

a img:hover {
    z-index: -2;
    transform: scale(1.01);
}

p {
    padding: 6px;
    font-size: 1rem;
}

.top {
    padding-top: 25px;
}

.footer {
    padding-top: 25px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: var(--light);
}

@media screen and (max-width: 875px) {
    .tiles {
       width: 100%;
       display: flex;
       flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    .header {
        display: block;
    }
}

@media screen and (max-width: 260px) {
    .header nav ul li {
        display: block;
        justify-content: center;
    }   
}