/* Variables */
:root {
  --color-light: #ffffff;
  --color-dark: #000;
}

/* Reset default styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Add smooth scrolling behavior to anchor links */
html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  height: 100vh;
  background-color: var(--color-dark);
  font-family: "Project Sans", sans-serif;
  color: var(--color-light);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Set the container to be the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fixed-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.power-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* CSS for hiding the header by default */
.hidden-header {
  display: none;
}

/* Header styles */
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  padding: 4px;
}

.header h1 {
  line-height: 37px;
  float: left;
  padding-left: 0.75%;
  font-size: 2rem;
}

.header h1:hover {
  text-decoration: underline;
}

.header nav {
  float: right;
}

.header nav ul {
  list-style: none;
}

.header nav ul li {
  line-height: 37px;
  font-size: 1rem;
  display: inline-block;
  padding-left: 2px;
  padding-right: 6px;
}

/* Links styles */
a {
  color: var(--color-light);
  text-decoration: none;
}

nav a:hover {
  /*   scale: 1.02; */
  text-decoration: underline;
}

.main {
  display: none;
}

/* Style the active section when a link is clicked */
#Languages:target,
#Projects:target {
  padding-top: 48px; /* Remove the padding when a section is targeted */
}

/* Images styles */
.image {
  z-index: -2;
  display: flex;
  flex-shrink: 1;
  height: auto;
  width: 100%;
  opacity: 0;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 2rem;
}

.border {
  border-top: 1px solid var(--color-light);
  width: 98%;
  margin: 0 auto;
}

.segments {
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 8px;
}

.tiles {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.images {
  padding: 1%;
  width: 50%;
  max-width: 50%;
}

.images img {
  border-radius: 5px;
  width: 100%;
}

.icons {
  width: 96%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logos {
  padding: 1%;
  width: 50%;
}

.logos img {
  border-radius: 5px;
  width: 100%;
}

.images:hover {
  text-decoration: underline;
}

p {
  padding: 4px;
  font-size: 1rem;
}

/* Navigation styles */
.div-nav {
  float: right;
}

.div-nav ul {
  list-style: none;
}

.div-nav ul li {
  font-size: 1rem;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}

.top {
  padding-top: 4%;
}

.top:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer {
  position: fixed; /* Change to fixed */
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-light);
  background-color: var(--color-dark); /* Add a background color to match the header's background */
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .images {
    padding: 1%;
    width: calc(50% - 1%);
    max-width: calc(50% - 1%);
    box-sizing: border-box;
  }

  .logos {
    padding: 1%;
    width: calc(25% - 1%);
    max-width: calc(25% - 1%);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 678px) {
  .header h1 {
    padding-left: 0.5%;
  }

  .tiles {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .icons {
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .images {
    min-width: 95%;
  }

  .logos {
    padding: 2%;
    width: calc(25% - 1%);
    max-width: calc(25% - 1%);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 420px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 72px;
  }
  #Languages {
    padding-top: 72px;
  }
  #Languages:target,
  #Projects:target {
    padding-top: 72px; /* Remove the padding when a section is targeted */
  }
  /* .fixed-image {
    margin-top: 80px;
  } */
}

@media screen and (max-width: 250px) {
  .header {
    height: 160px;
  }

  .header nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .div-nav ul li {
    display: block;
    justify-content: center;
  } */

  #Languages {
    padding-top: 160px;
  }
  #Languages:target,
  #Projects:target {
    padding-top: 160px; /* Remove the padding when a section is targeted */
  }
  /* .fixed-image {
    margin-top: 160px;
  } */
}

@media screen and (max-width: 187.2px) {
  .header {
    height: 192px;
  }

  h1 {
    text-align: center;
  }

  #Languages {
    padding-top: 192px;
  }
  #Languages:target,
  #Projects:target {
    padding-top: 192px; /* Remove the padding when a section is targeted */
  }
}
